#certDialogClose {
  background: #f1f5f9;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid lightgray;
}

#certDialogClose:hover {
  background-color: #f54927;
  color: white;
}

#certDialogBack {
  background: #f1f5f9;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 18px;
  transition: 0.5s;
  border: 1px solid lightgray;
}

#certDialogBack:hover {
  background-color: #27bef5;
  color: white;
}

@media screen and (max-width: 768px) {
  #certDialogBack,
  #certDialogClose {
    position: absolute;
    top: 0;
  }
  #certDialogBack {
    left: 0;
    background-color: #27bef5;
    border-radius: 0 0 8px 0;
  }
  #certDialogClose {
    right: 0;
    background-color: #f54927;
    border-radius: 0 0 0 8px;
  }
}
